<!DOCTYPE html>
<html>
	<head>
		<title>Jonas Malmlöf</title>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="/static/style/main.css" rel="stylesheet"> 
	</head>
	<body>
		<header id="main-header">
			<a href="/">
				<div id="logo">
				Jonas Malmlöf
				</div>
			</a>

			<div id="page-info">
				<span id="page-title">{{ error_num }}</span>
			</div>
		</header>
		<nav id="main-nav">
			<div id="left-wrap">
				<a href="/">Home</a>
				<a href="/list">List</a>
				<a href="/techniques">Techniques</a>
			</div>
		</nav>
		<main>
			<h3>{{ error_msg }}</h3>
		</main>
	</body>
</html>
