<html>
	<head>
		<title>Jonas Malmlöf</title>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="/static/style/main.css" rel="stylesheet">
	</head>
	<body>
		<header id="main-header">
			<a href="/"><div id="logo">
				Jonas Malmlöf
			</div></a>
			<div id="page-info">
				<span id="page-title">{{ project.project_name }}</span>
				<span id="page-desc">{{ project.short_description }}</span>
			</div>
		</header>
		<nav id="main-nav">
			<div id="left-wrap">
				<a href="/">Home</a>
				<a href="/list">List</a>
				<a href="/techniques">Techniques</a>
			</div>
		</nav>
		<main>
			<img id="main-img" src="/static/images/{{ project.big_image }}" alt="project-image" width=350>
			<h1>Description</h1>
			<p>{{ project.long_description }}
			<h1>Data</h1>
			<p>Course: {{ project.course_id }}
			<p>Techniques: {% for tech in project.techniques_used %} {{ tech }}{% if not loop.last %},{% endif %} {% endfor %}
			<p>Collaborators: {% for person in project.collaborators %} {{ person }}{% if not loop.last %},{% endif %} {% endfor %}
			<p>Academic credits: {{ project.academic_credits }}hp
			<p>Start date: {{ project.start_date }}
			<p>End date: {{ project.end_date }}
			<p>Source: <a href="{{ project.external_link }}">{{ project.external_link }}</a>
			<p>Times Visited: {{ project.counter }}
		</main>
	</body>
</html>
